body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

.box {
    display: flex;
    height: 80px;
    width: 1300px;
    font-weight: bold;
    font-size: 80px;
  }
  
  .red {
    background-color: red;
  }
  
  .blue {
    background-color: blue;
  }